pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
}
